/* P001 style sheet, it contains only class & id seloctors here. */



/* Header section selectors */
.header {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    background-color: var(--header-bgcolor);
    border-radius: 2rem;
}

.header-logo {
    height: 50px;
}




/* .table-container {
    max-height: 200px;
    overflow-y: auto;
} */


 /* Style for scrollable table */
 .table-container {
    position: relative;
}

/* Ensure the table header stays fixed */
thead th {
    position: sticky;
    top: 0;
    background-color: #343a40; /* Matches .table-dark */
    color: #fff;
    z-index: 2; /* Ensure it stays above the rows */
}

/* Add padding for scrollbar inside table */
.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #adb5bd; /* Scrollbar color */
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}







/* Main section selectors */
.main {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.Workout_sec {
    display: flex;
    font-size: var(--font-size-secondary);
    background-color: var(--header-bgcolor);
    border-radius: 2rem;
    height: 60vh;
}

.sec_text {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.table {
    border: 2px solid gray;
}


/* Link styles */
a.custom-link {
    /* Removes underline */
    text-decoration: none;
    /* Custom link color */
    color: #0056b3;
}

/* Hover effect */
a.custom-link:hover {
    color: #1105f3;
}

.proj_sec {
    font-size: var(--font-size-secondary);
    background-color: var(--header-bgcolor);
    border-radius: 2rem;
}

.main_proj {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}



/* Footer section */
.footer-bottom {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    background-color: var(--header-bgcolor);
    border-radius: 2rem;
}